<div class="container">
  <div class="page-header" id="banner">
    <div class="row my-4">
      <div class="col-12">
        <h3>仕入対象商品の情報取得</h3>
        <div class="form-inline">
          <%= form_tag('/items/search', method:'post', id:'items_search') do %>
            <div class="form-inline">
              <div class="form-group">
                <label>検索用URL</label>
                <%= text_field_tag('input_url', nil,  class: 'form-control', style: 'margin-left:10px; margin-right:20px;') %>
              </div>
              <%= submit_tag '取得開始', class: 'btn btn-info' %>
            </div>
          <% end %>
        </div>
        <br>
        進行状況
        <div class="progress" style="width: 40%;">
          <div class="progress-bar progress-bar-striped active" id="progress_bar" role="progressbar" style="width: 0%;">
            <%= ((@account.current_item_num * 100) / @account.max_item_num).round(0) %>%
          </div>
        </div>

        <br>
        <h5>取得済み件数　全<%= @items.count.to_i %>件</h5>
        <table class="table table-striped table-hover table-bordered ellipsis" id="item_table">
          <thead class="thead-light">
            <tr>
              <% @headers.each do |key, value| %>
              <th style="text-align:center;"><%= value %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @items.each do |temp| %>
            <tr>
              <% @headers.each do |key, value| %>
                <% case key %>
                <% when :image then %>
                <td class="td_vertical_align_middle"><%= image_tag(temp[key], height:'70px') %></td>
                <% when :shop_id then %>
                <td class="td_vertical_align_middle"><%= temp.shop.name %></td>
                <% when :url then %>
                <td class="td_vertical_align_middle"><%= link_to temp[key], temp[key], target: '_blank' %></td>
                <% else %>
                <td class="td_vertical_align_middle"><%= temp[key] %></td>
                <% end %>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#download_template').on('click', function() {
      setTimeout(function(){
          location.href = '/products/show';
      },1000);
    });
  });
</script>
