<div class="container">
  <div class="page-header" id="banner">
    <div class="row my-4">
      <div class="col-12">
        <h3>出品情報の確認</h3>
        <div class="form-inline">
        <%= form_tag('/products/check', method:'post', id:'product_check') do %>
            <div class="form-inline">
              <%= submit_tag 'データ更新', class: 'btn btn-info', style: 'margin-right:20px;', id: 'data_update' %>
              <%= submit_tag 'MWSアップロード', class: 'btn btn-secondary', style: 'margin-right:20px;', id: 'mws_upload' %>
              <%= link_to "txtファイル出力", products_csv_download_path(format: :csv), class: "btn btn-primary" %>
            </div>

        </div>
        <br>

        <h5>対象件数　全<%= @items.count.to_i %>件</h5>

        <table class="table table-striped table-hover table-bordered ellipsis" id="item_table">
          <thead class="thead-light">
            <% @headers.each do |row| %>
            <tr>
              <% row.each do |col| %>
              <th><%= col %></th>
              <% end %>
            </tr>
            <% end %>
          </thead>
          <tbody>
            <% @body.each do |row| %>
            <tr>
              <% @headers[2].each do |col| %>
              <% if col == 'price' then %>
              <td class="td_vertical_align_middle"><%= text_field_tag 'price[' + row['sku'] + ']', row[col], class: 'form-control', style: 'text-align:center;' %></td>
              <% elsif col == 'standard-price-points' then %>
              <td class="td_vertical_align_middle"><%= text_field_tag 'point[' + row['sku'] + ']', row[col], class: 'form-control', style: 'text-align:center;' %></td>
              <% else %>
              <td class="td_vertical_align_middle"><%= row[col] %></td>
              <% end %>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#data_update').on('click', function() {
      $('#mws_upload').removeAttr('data-disable-with');
      $('#data_update').addAttr({'data-disable-with': "データ更新"});
    });

    $('#mws_upload').on('click', function() {
      $('#data_update').removeAttr('data-disable-with');
      $('#mws_upload').addAttr({'data-disable-with': "MWSアップロード"});
    });

  });
</script>
