<div class="container">
  <div class="page-header" id="banner">
    <div class="row my-4">
      <div class="col-lg-10 col-md-10">
        <h2>アカウントの設定</h2>
        <div class="col-lg-7">
          <%= form_for(@account, {url: accounts_setup_path, method: 'post'}) do |f| %>
            <p class="lead">MWSアカウントの設定</p>
            <div class="form-group">
              <%= f.label :seller_id, "セラーID" %>
              <%= f.text_field :seller_id, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :mws_auth_token, "MWS認証トークン" %>
              <%= f.text_field :mws_auth_token, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :rakuten_app_id, "楽天アプリID" %>
              <%= f.text_field :rakuten_app_id, class: 'form-control' %>
            </div>
            <div class="actions">
              <%= f.submit "設定する", {id: "setup_btn", onClick: 'alert("更新しました")', class: 'btn btn-primary'} %>
            </div>
          <% end %>
          <br>

        </div>
      </div>
    </div>
  </div>
</div>
